<div class="overview-container">
  <div class="overview-content">
    <button mat-raised-button color="primary" (click)="loadGraphUser()">
      Load current user
    </button>

    <mat-card *ngIf="formattedUser$ | async">
      <div class="overview-header">
        <mat-card-title>Graph User</mat-card-title>
      </div>
      <mat-card-content>
        <div>{{ formattedUser$ | async | json }}</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-container">
  <div class="flex-content">
    mtg-login
    <mgt-login></mgt-login>
  </div>
  <div class="flex-content">
    mtg-person
    <mgt-person person-query="me" view="twolines"></mgt-person>
  </div>

  <div class="flex-content">
    mgt-people
    <mgt-people show-max="5"></mgt-people>
  </div>

</div>
