<mat-toolbar color="primary">
  <div class="toolbar-container">
    <div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="requestToggleSideNav()"
      >
        <mat-icon aria-label="Side nav toggle icon" color="accent"
          >menu</mat-icon
        >
      </button>
    </div>
    <div>
      <span class="color-accent">Matthias Müller's example app</span>
    </div>
  </div>

  <div class="toolbar-container-item-right">
    <div>
      <app-user-menu></app-user-menu>
    </div>
  </div>
</mat-toolbar>
