<div class="overview-container">
  <div class="overview-content">
    <mat-card>
      <div class="overview-header">
        <mat-card-title>Welcome</mat-card-title>
      </div>
      <mat-card-content>
        <p>
          This my showcase-webpage to test technologies and all sorts of ideas.
          This page is currently using:
        </p>

        <ul>
          <li><b>Frontend:</b> Angular / TypeScript, including NGRX</li>
          <li><b>Backend:</b> ASP.Net Core Web API</li>
          <li><b>Hosting:</b> Azure Kubernetes Services - AKS</li>
          <li><b>Kubernetes management:</b> Kubernetes Helm</li>
          <li><b>CI / CD:</b> Azure DevOps</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
