<div class="main-container">
  <div class="welcome-container">
    <div class="welcome-container-item">
      <span class="color-accent">
        Welcome {{userName}}
      </span>
    </div>
  </div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon color="accent">account_circle</mat-icon>
    </button>
  </div>

  <div>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="(isUserAuthenticated$ | async) === false">
        <button mat-menu-item (click)="logIn()">Log in</button>
      </ng-container>

      <ng-container *ngIf="(isUserAuthenticated$ | async)">
        <button mat-menu-item (click)="showClaims()">Show claims</button>
        <button mat-menu-item (click)="logOut()">Log out</button>
      </ng-container>

      <mat-divider></mat-divider>
      <button mat-menu-item (click)="switchAppTheme()">
        <mat-icon color="accent">{{ selectedAppTheme.iconName }}</mat-icon>
      </button>
    </mat-menu>
  </div>
</div>
