
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.welcome-container {
  display: flex;
}

.welcome-container-item {
  margin: auto;
}

.user-menu-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.user-menu-radio-button {
  margin: 5px;
}
