<div class="overview-container">
  <div class="overview-content">
    <mat-card>
      <mat-card-title>Hi there,</mat-card-title>
      <mat-card-content>
        <p>
          Welcome to my everchanging webpage! As a developer / software-architect with a flair for new technologies, I am using this page to test new stuff. My main technologies are C# .NET, Angular / TypeScript and a bunch of database development.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="overview-container">
  <div class="overview-content">
    <mat-card>
      <mat-card-title>Where to find me</mat-card-title>
      <mat-card-content>
        <p>Pretty much all of my code can be found on <a href="https://github.com/DrMueller">GitHub</a>. Extensions for Visual Studio, Visual Studio Code and Azure DevOps can be found on the <a href="https://marketplace.visualstudio.com/publishers/DrMueller2">Marketplace</a>.
          For general contact, please ping me on <a href="https://www.linkedin.com/in/mueller-matthias/">LinkedIn</a>.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

