.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-content {
    width: 100%;
    text-align: center;
}

li {
  list-style-type: none;
}
